In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
data = {
    'mnist': {
        'kmeans': {
            'num_clusters': 30,
            'accuracy': 0.9847,
        },
        'gmm': {
            'num_clusters': 18,
            'accuracy': 0.9299,
        },
    },
    'wine_quality': {
        'kmeans': {
            'num_clusters': 20,
            'mse': 0.7053,
        },
        'gmm': {
            'num_clusters': 5,
            'mse': 0.7158,
        },
    },
}

In [4]:
df_data = {'dataset': [], 'method': [], 'num_clusters': [], 'accuracy': [], 'mse': [], 
        'training_time_mean': [], 'training_time_std': [], 'evaluation_time_mean': [], 'evaluation_time_std': []}
for dataset, data1 in data.items():
    for method, data2 in data1.items():
        df_data['dataset'].append(dataset)
        df_data['method'].append(method)
        df_data['num_clusters'].append(data2['num_clusters'])
        df_data['accuracy'].append(data2.get('accuracy', np.nan))
        df_data['mse'].append(data2.get('mse', np.nan))

        df = pd.read_csv(f'results/{dataset}/{method}_metrics.csv')
        temp = df[df['num_components'] == data2['num_clusters']]
        assert(len(temp) == 1)
        row = temp.iloc[0]
        df_data['training_time_mean'].append(row['training_time_mean'])
        df_data['training_time_std'].append(row['training_time_std'])
        df_data['evaluation_time_mean'].append(row['evaluation_time_mean'])
        df_data['evaluation_time_std'].append(row['evaluation_time_std'])
df = pd.DataFrame(df_data)
df.to_csv('~/temp/step_1/stats.csv', index=False)
df.style.hide(axis='index')