In [13]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [14]:
datasets = ['mnist', 'wine_quality']
methods = ['PCA', 'ICA', 'RP', 'LLE']
dataset_to_key = {'mnist': 'accuracy', 'wine_quality': 'mse'}

In [15]:
pd.read_csv(f"results/mnist/ICA_metrics.csv")

,training_time_mean,training_time_std,evaluation_time_mean,evaluation_time_std,accuracy_mean,accuracy_std,kurtosis_mean,kurtosis_std,num_components
0,0.109623,0.021582,0.001811,0.000948,0.9018,0.033253,-1.040122,0.214237,2.0
1,0.135009,0.020006,0.004107,0.004149,0.9490,0.038601,-0.340910,0.863014,5.0
2,0.917466,0.575858,0.000684,0.000251,0.9748,0.014483,0.598481,1.321173,10.0
3,2.416050,0.120655,0.001534,0.000688,0.9810,0.006841,2.682109,1.929297,25.0
4,1.533836,2.014474,0.001119,0.000577,0.9636,0.012468,4.550888,2.665219,50.0
5,3.931748,3.564597,0.001486,0.000929,0.9176,0.018874,6.390656,4.222517,75.0
6,5.410341,4.434697,0.002171,0.000963,0.8520,0.031528,9.972870,10.114016,100.0

In [16]:
data = {'Dataset': [], 'Method': [], 'Num Components': [],
        'Accuracy Mean': [], 'Accuracy Std': [], 'MSE Mean': [], 'MSE Std': [],
        'Training Time Mean': [], 'Training Time Std': [], 'Evaluation Time Mean': [], 'Evaluation Time Std': []}
for dataset in datasets:
    for method in methods:
        df = pd.read_csv(f"results/{dataset}/{method}_metrics.csv")
        key = dataset_to_key[dataset]
        ascend = True if key == 'mse' else False
        df = df.sort_values(by=f"{key}_mean", ascending=ascend)
        row = df.iloc[0]

        data['Dataset'].append(dataset)
        data['Method'].append(method)
        data['Num Components'].append(int(row['num_components']))
        data['Accuracy Mean'].append(getattr(row, 'accuracy_mean', np.nan))
        data['Accuracy Std'].append(getattr(row, 'accuracy_std', np.nan))
        data['MSE Mean'].append(getattr(row, 'mse_mean', np.nan))
        data['MSE Std'].append(getattr(row, 'mse_std', np.nan))
        data['Training Time Mean'].append(row['training_time_mean'])
        data['Training Time Std'].append(row['training_time_std'])
        data['Evaluation Time Mean'].append(row['evaluation_time_mean'])
        data['Evaluation Time Std'].append(row['evaluation_time_std'])
df = pd.DataFrame(data)
# df.to_csv('~/temp/step_2/stats.csv', index=False)
df.to_csv('/Users/sdale/repos/gatech/machine_learning/unsupervised_learning/final_results/step_2/stats.csv', index=False)
df.style.hide(axis='index')

In [ ]:
temp = df[df['Dataset'] == 'mnist']
temp[['Method', 'Num Components', 'Training Time Mean', 'Evaluation Time Mean', 'Accuracy Mean']].style.hide(axis='index')

In [22]:
temp = df[df['Dataset'] == 'wine_quality']
temp[['Method', 'Num Components', 'Training Time Mean', 'Evaluation Time Mean', 'MSE Mean']].style.hide(axis='index')

In [7]:
data = {'Dataset': [], 'Method': [], 'Num Components': [],
        'Accuracy Mean': [], 'Accuracy Std': [], 'MSE Mean': [], 'MSE Std': [],
        'Training Time Mean': [], 'Training Time Std': [], 'Evaluation Time Mean': [], 'Evaluation Time Std': []}
for dataset in datasets:
    for method in methods:
        df = pd.read_csv(f"results/{dataset}/{method}_metrics.csv")
        key = dataset_to_key[dataset]
        ascend = True if key == 'mse' else False
        df = df.sort_values(by=f"{key}_mean", ascending=ascend)
        row = df.iloc[0]
        data['Dataset'].append(dataset)
        data['Method'].append(method)
        data['Num Components'].append(int(row['num_components']))
        data['Accuracy Mean'].append(getattr(row, 'accuracy_mean', np.nan))
        data['Accuracy Std'].append(getattr(row, 'accuracy_std', np.nan))
        data['MSE Mean'].append(getattr(row, 'mse_mean', np.nan))
        data['MSE Std'].append(getattr(row, 'mse_std', np.nan))
        data['Training Time Mean'].append(row['training_time_mean'])
        data['Training Time Std'].append(row['training_time_std'])
        data['Evaluation Time Mean'].append(row['evaluation_time_mean'])
        data['Evaluation Time Std'].append(row['evaluation_time_std'])
df = pd.DataFrame(data)
df.to_csv('~/temp/step_2/stats.csv', index=False)
df.style.hide(axis='index')