In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
datasets = ['mnist', 'wine_quality']
methods = ['PCA', 'ICA', 'RP', 'LLE']
dataset_to_key = {'mnist': 'accuracy', 'wine_quality': 'mse'}

In [20]:
data = {'Dataset': [], 'Method': [], 'Num Components': [],
        'Accuracy Mean': [], 'Accuracy Std': [], 'MSE Mean': [], 'MSE Std': [],
        'Training Time Mean': [], 'Training Time Std': [], 'Evaluation Time Mean': [], 'Evaluation Time Std': []}
for dataset in datasets:
    for method in methods:
        df = pd.read_csv(f"results/{dataset}/{method}_metrics.csv")
        key = dataset_to_key[dataset]
        ascend = True if key == 'mse' else False
        df = df.sort_values(by=f"{key}_mean", ascending=ascend)
        row = df.iloc[0]
        data['Dataset'].append(dataset)
        data['Method'].append(method)
        data['Num Components'].append(int(row['num_components']))
        data['Accuracy Mean'].append(getattr(row, 'accuracy_mean', np.nan))
        data['Accuracy Std'].append(getattr(row, 'accuracy_std', np.nan))
        data['MSE Mean'].append(getattr(row, 'mse_mean', np.nan))
        data['MSE Std'].append(getattr(row, 'mse_std', np.nan))
        data['Training Time Mean'].append(row['training_time_mean'])
        data['Training Time Std'].append(row['training_time_std'])
        data['Evaluation Time Mean'].append(row['evaluation_time_mean'])
        data['Evaluation Time Std'].append(row['evaluation_time_std'])
pd.DataFrame(data).style.hide(axis='index')